<div class="form-wrapper cf">
  <input type="text" id="search-box" placeholder="Search product info here...">
  <button type="submit" id="search-btn">Search</button>
</div>

<div id="search-output">

</div>