<script type="text/template" id="search-container">
  <div>
    <p>Product-id: [[= prod_data.product_id ]]</p>
    <p>Product-title: [[= prod_data.product_title ]]</p>
    <p>Product-MRP: [[= prod_data.product_retail_price ]]</p>
    <p>Product-Selling-price: [[= prod_data.product_selling_price ]]</p>
    <img src=[[= prod_data.product_image ]] alt=[[= prod_data.product_id ]]></img>
    <a href=[[= prod_data.product_url ]]>Buy now!</a>
  </div>
</script>